.navBar {
  height: 80px;
  max-width: 100%;
  background-color: #0d0d0d;
  padding: 15px 0;
  display: flex;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
